<link rel="stylesheet" href="{$basePath}css/dropzone.css">
<link rel="stylesheet" href="{$basePath}/js/gallery/dist/css/lg-transitions.min.css">
<link rel="stylesheet" href="{$basePath}/js/gallery/dist/css/lightgallery.min.css">